In [1]:
import pandas as pd
import numpy as np

In [3]:
s=pd.Series([1,3,5,np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates=pd.date_range('20220910', periods=6)
dates

DatetimeIndex(['2022-09-10', '2022-09-11', '2022-09-12', '2022-09-13',
               '2022-09-14', '2022-09-15'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df=pd.DataFrame(np.random.randn(6,4), index=dates, columns=['A','B','C','D'])
df

                   A         B         C         D
2022-09-10 -1.348483 -0.169438 -0.581353  0.754503
2022-09-11  1.363240  0.277637  1.198844 -0.181979
2022-09-12 -0.496792  0.826033  0.104188 -0.492789
2022-09-13 -0.501090 -0.729107  1.376852 -0.298778
2022-09-14 -0.656053 -0.391074 -0.168557  0.683531
2022-09-15 -1.298694  0.813291 -1.078998 -1.289466

In [9]:
df.head(3)

                   A         B         C         D
2022-09-10 -1.348483 -0.169438 -0.581353  0.754503
2022-09-11  1.363240  0.277637  1.198844 -0.181979
2022-09-12 -0.496792  0.826033  0.104188 -0.492789

In [10]:
df.index

DatetimeIndex(['2022-09-10', '2022-09-11', '2022-09-12', '2022-09-13',
               '2022-09-14', '2022-09-15'],
              dtype='datetime64[ns]', freq='D')

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.values

array([[-1.34848273, -0.16943848, -0.58135319,  0.75450285],
       [ 1.36323962,  0.27763686,  1.19884374, -0.18197921],
       [-0.49679242,  0.82603323,  0.10418833, -0.4927894 ],
       [-0.50108966, -0.72910719,  1.37685152, -0.29877823],
       [-0.65605292, -0.39107434, -0.16855748,  0.68353138],
       [-1.2986936 ,  0.81329053, -1.07899817, -1.28946558]])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2022-09-10 to 2022-09-15
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.489645  0.104557  0.141829 -0.137496
std    0.985212  0.643196  0.975062  0.768246
min   -1.348483 -0.729107 -1.078998 -1.289466
25%   -1.138033 -0.335665 -0.478154 -0.444287
50%   -0.578571  0.054099 -0.032185 -0.240379
75%   -0.497867  0.679377  0.925180  0.467154
max    1.363240  0.826033  1.376852  0.754503

In [17]:
df.sort_values(by='B',ascending=True)

                   A         B         C         D
2022-09-13 -0.501090 -0.729107  1.376852 -0.298778
2022-09-14 -0.656053 -0.391074 -0.168557  0.683531
2022-09-10 -1.348483 -0.169438 -0.581353  0.754503
2022-09-11  1.363240  0.277637  1.198844 -0.181979
2022-09-15 -1.298694  0.813291 -1.078998 -1.289466
2022-09-12 -0.496792  0.826033  0.104188 -0.492789

In [18]:
df

                   A         B         C         D
2022-09-10 -1.348483 -0.169438 -0.581353  0.754503
2022-09-11  1.363240  0.277637  1.198844 -0.181979
2022-09-12 -0.496792  0.826033  0.104188 -0.492789
2022-09-13 -0.501090 -0.729107  1.376852 -0.298778
2022-09-14 -0.656053 -0.391074 -0.168557  0.683531
2022-09-15 -1.298694  0.813291 -1.078998 -1.289466

In [19]:
df['A']

2022-09-10   -1.348483
2022-09-11    1.363240
2022-09-12   -0.496792
2022-09-13   -0.501090
2022-09-14   -0.656053
2022-09-15   -1.298694
Freq: D, Name: A, dtype: float64

In [20]:
df[1:2]

                  A         B         C         D
2022-09-11  1.36324  0.277637  1.198844 -0.181979

In [21]:
df['20220911':'20220912']

                   A         B         C         D
2022-09-11  1.363240  0.277637  1.198844 -0.181979
2022-09-12 -0.496792  0.826033  0.104188 -0.492789

In [22]:
df.loc[dates[1]]

A    1.363240
B    0.277637
C    1.198844
D   -0.181979
Name: 2022-09-11 00:00:00, dtype: float64

In [23]:
df.loc[:,['A','B']]

                   A         B
2022-09-10 -1.348483 -0.169438
2022-09-11  1.363240  0.277637
2022-09-12 -0.496792  0.826033
2022-09-13 -0.501090 -0.729107
2022-09-14 -0.656053 -0.391074
2022-09-15 -1.298694  0.813291

In [25]:
df.loc['20220911',['A','B']]

A    1.363240
B    0.277637
Name: 2022-09-11 00:00:00, dtype: float64

In [26]:
df.loc[dates[1],'A']

1.363239621493411

In [27]:
df.iloc[3]

A   -0.501090
B   -0.729107
C    1.376852
D   -0.298778
Name: 2022-09-13 00:00:00, dtype: float64

In [28]:
df

                   A         B         C         D
2022-09-10 -1.348483 -0.169438 -0.581353  0.754503
2022-09-11  1.363240  0.277637  1.198844 -0.181979
2022-09-12 -0.496792  0.826033  0.104188 -0.492789
2022-09-13 -0.501090 -0.729107  1.376852 -0.298778
2022-09-14 -0.656053 -0.391074 -0.168557  0.683531
2022-09-15 -1.298694  0.813291 -1.078998 -1.289466

In [29]:
df.iloc[3:5,0:2]

                   A         B
2022-09-13 -0.501090 -0.729107
2022-09-14 -0.656053 -0.391074

In [33]:
df.iloc[[1,2,4],0:2]

                   A         B
2022-09-11  1.363240  0.277637
2022-09-12 -0.496792  0.826033
2022-09-14 -0.656053 -0.391074

In [34]:
df[df.A>0]

                  A         B         C         D
2022-09-11  1.36324  0.277637  1.198844 -0.181979

In [35]:
df[df>0]

                  A         B         C         D
2022-09-10      NaN       NaN       NaN  0.754503
2022-09-11  1.36324  0.277637  1.198844       NaN
2022-09-12      NaN  0.826033  0.104188       NaN
2022-09-13      NaN       NaN  1.376852       NaN
2022-09-14      NaN       NaN       NaN  0.683531
2022-09-15      NaN  0.813291       NaN       NaN

In [36]:
df2=df.copy()
df2

                   A         B         C         D
2022-09-10 -1.348483 -0.169438 -0.581353  0.754503
2022-09-11  1.363240  0.277637  1.198844 -0.181979
2022-09-12 -0.496792  0.826033  0.104188 -0.492789
2022-09-13 -0.501090 -0.729107  1.376852 -0.298778
2022-09-14 -0.656053 -0.391074 -0.168557  0.683531
2022-09-15 -1.298694  0.813291 -1.078998 -1.289466

In [37]:
df2['E']=['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2022-09-10 -1.348483 -0.169438 -0.581353  0.754503    one
2022-09-11  1.363240  0.277637  1.198844 -0.181979    one
2022-09-12 -0.496792  0.826033  0.104188 -0.492789    two
2022-09-13 -0.501090 -0.729107  1.376852 -0.298778  three
2022-09-14 -0.656053 -0.391074 -0.168557  0.683531   four
2022-09-15 -1.298694  0.813291 -1.078998 -1.289466  three

In [40]:
df2['E'].isin(['two','four'])

2022-09-10    False
2022-09-11    False
2022-09-12     True
2022-09-13    False
2022-09-14     True
2022-09-15    False
Freq: D, Name: E, dtype: bool

In [41]:
df.apply(np.cumsum)

                   A         B         C         D
2022-09-10 -1.348483 -0.169438 -0.581353  0.754503
2022-09-11  0.014757  0.108198  0.617491  0.572524
2022-09-12 -0.482036  0.934232  0.721679  0.079734
2022-09-13 -0.983125  0.205124  2.098530 -0.219044
2022-09-14 -1.639178 -0.185950  1.929973  0.464487
2022-09-15 -2.937872  0.627341  0.850975 -0.824978

In [42]:
data_result=pd.merge(CCTV_Seoul, pop_Seoul, on='구별')
data_result

NameError: name 'CCTV_Seoul' is not defined